{% extends 'welcome.html' %} 

{% block content %}

<h2>{{ request.session.instancia }}</h2> 

<div class="card_view">
    
    <div class="card-single">

        <div>
            <h4 class="text-light">Número de instâncias</h4>
            <span class="text-light">{{request.session.num_inst}}</span>
        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>


    </div>

    <div class="card-single">  

        <div>

            <h4 class="text-light">Status da Ontologia</h4>
            {% if request.session.status == "OK!" %}
            <span class="text-success">{{ request.session.status }}</span>
            {% endif %}

            {% if request.session.status == "Erro!" %}
            <span class="text-warning">{{ request.session.status }}</span>
            {% endif %}

        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>

    </div>


</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Atividades</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Definir como Output</td>
                            <td>Definir como Input</td>
                        
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objeto_atividade %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            
                            <td> <a class="btn-warning" href="/kipo_playground/add_relacionamento/{{ obj.instancia }}/ontoscrum__has_output/{{ request.session.instancia }}">Alocar Output!</a> </td> 

                            <td> <a class="btn-warning" href="/kipo_playground/add_relacionamento/{{ obj.instancia }}/ontoscrum__has_input/{{ request.session.instancia }}">Alocar Input!</a> </td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Processos</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Definir como Output</td>
                            <td>Definir como Input</td>
                        
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objeto_processo %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            
                            <td> <a class="btn-warning" href="/kipo_playground/add_relacionamento/{{ obj.instancia }}/ontoscrum__has_output/{{ request.session.instancia }}">Alocar Output!</a> </td>

                            <td> <a class="btn-warning" href="/kipo_playground/add_relacionamento/{{ obj.instancia }}/ontoscrum__has_input/{{ request.session.instancia }}">Alocar Input!</a> </td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Artefatos</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Definir como Output</td>
                            <td>Definir como Input</td>
                        
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objeto_artefatos %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            
                            <td> <a class="btn-warning" href="/kipo_playground/add_relacionamento/{{ obj.instancia }}/ontoscrum__has_output/{{ request.session.instancia }}">Alocar Output!</a> </td>

                            <td> <a class="btn-warning" href="/kipo_playground/add_relacionamento/{{ obj.instancia }}/ontoscrum__has_input/{{ request.session.instancia }}">Alocar Input!</a> </td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



</br> 
</br>
<a class="btn btn-primary" href="/kipo_playground/welcome">Voltar</a>
</br>
</br>


{% endblock %}
