{% extends 'welcome.html' %} 

{% block content %}

<div class="card_view">
    
    <div class="card-single">

        <div>
            <h4 class="text-light">Número de instâncias</h4>
            <span class="text-light">{{request.session.num_inst}}</span>
        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>


    </div>

    <div class="card-single">  

        <div>

            <h4 class="text-light">Status da Ontologia</h4>
            {% if request.session.status == "OK!" %}
            <span class="text-success">{{ request.session.status }}</span>
            {% endif %}

            {% if request.session.status == "Erro!" %}
            <span class="text-warning">{{ request.session.status }}</span>
            {% endif %}

        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>

    </div>


</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Artefatos</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            
                            <td>Detalhar</td>

                            <td>Alocar em Tarefa</td>
                            
                            <td>Deletar</td>
                        
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objeto_artefatos %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>

                            <td> <a class="btn-warning" href="/kipo_playground/detalhar_artefato/{{obj.instancia}}/{{obj.classe_inst}}">Detalhar!</a> </td>

                            <td> <a class="btn-warning" href="/kipo_playground/alocar_para_tarefa/{{obj.instancia}}">Alocar!</a> </td>

                            <td> <a class="btn-warning" href="/kipo_playground/retirar_instancia/{{obj.instancia}}/{{obj.classe_inst}}">Deletar!</a> </td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</br> 
</br>
<a class="btn btn-primary" href="/kipo_playground/welcome">Voltar</a>
</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/add_classe/Sprint_Backlog">Adicionar Sprint Backlog</a>
</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/add_classe/Product_Roadmap_Creation">Adicionar Product Roadmap Creation</a>

</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/add_classe/Vision_Creation">Adicionar Vision Creation</a>

</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/add_classe/Product_Backlog">Adicionar Artefato Genérico</a>

</br>
</br>


{% endblock %}
