{% extends 'welcome.html' %} 

{% block content %}

<h2>{{ instancia_daily }}</h2> 


<div class="card_view">
    
    <div class="card-single">

        <div>
            <h4 class="text-light">Número de instâncias</h4>
            <span class="text-light">{{request.session.num_inst}}</span>
        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>


    </div>

    <div class="card-single">  

        <div>

            <h4 class="text-light">Status da Ontologia</h4>
            {% if request.session.status == "OK!" %}
            <span class="text-success">{{ request.session.status }}</span>
            {% endif %}

            {% if request.session.status == "Erro!" %}
            <span class="text-warning">{{ request.session.status }}</span>
            {% endif %}

        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>


    </div>

    <div class="card-single">

        <div>
            <h4 class="text-light">Propriedades relacionadas</h4>
            <span class="text-light">{{request.session.num_prop_correlatas}}</span>
        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>

    </div>

    <div class="card-single">

        <div>
            <h4 class="text-light">Instâncias correlatas</h4>
            <span class="text-light">{{request.session.num_inst}}</span>
        </div>
        <div> 
            <span class="las la-clipboard-lis"></span>
        </div>

    </div>

</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Tarefas Realizadas</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Deletar</td>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objeto_performs %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            <td>  <a class="btn-warning" href="/kipo_playground/retirar_instancia/{{obj.instancia}}/{{obj.classe_inst}}">Deletar!</a>  </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="recent-grid-add">
    <a class="btn btn-primary" href="/kipo_playground/add_classe_com_relacionamento/Sprint_Tasks_Control/ontoscrum__performs/{{ instancia_daily }}">Adicionar "Task Control"</a>
</div>

<div class="recent-grid-add">
    <a class="btn btn-primary" href="/kipo_playground/add_classe_com_relacionamento/Sprint_Tasks_Updating/ontoscrum__performs/{{ instancia_daily }}">Adicionar "Task Update"</a>
</div>

<div class="recent-grid-add">
    <a class="btn btn-primary" href="/kipo_playground/add_classe_com_relacionamento/Feature_Development/ontoscrum__performs/{{ instancia_daily }}">Adicionar Desenvolvimento de Feature</a>
</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">O que ocorreu durante</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Deletar</td>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objeto_inv_during %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            <td>  <a class="btn-warning" href="/kipo_playground/retirar_instancia/{{obj.instancia}}/{{obj.classe_inst}}">Deletar!</a>  </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="recent-grid-add">
    <a class="btn btn-primary" href="/kipo_playground/add_classe_com_relacionamento/scrum_Daily_Scrum_Meeting/INV_ontoscrum__during/{{ instancia_daily }}">Adicionar Reunião Diária</a>
</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Inputs</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Deletar</td>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objetos_has_input %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            <td>  <a class="btn-warning" href="/kipo_playground/retirar_instancia/{{obj.instancia}}/{{obj.classe_inst}}">Deletar!</a>  </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Outputs</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Deletar</td>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objetos_has_output %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            <td>  <a class="btn-warning" href="/kipo_playground/retirar_instancia/{{obj.instancia}}/{{obj.classe_inst}}">Deletar!</a>  </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</br>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2 class="text-light">Quem executa Trabalho Diário</h2>
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Classes</td>
                            <td>Instâncias</td>
                            <td>Nomes</td>
                            <td>Observações</td>
                            <td>Deletar</td>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for obj in objetos_has_isexecutedby %}
                        <tr>
                            <td>{{ obj.classe_inst }}</td>
                            <td>{{ obj.instancia }}</td>
                            <td>{{ obj.nome }}</td>
                            <td>{{ obj.obs }}</td>
                            <td>  <a class="btn-warning" href="/kipo_playground/retirar_instancia/{{obj.instancia}}/{{obj.classe_inst}}">Deletar!</a>  </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="recent-grid-add">
    <a class="btn btn-primary" href="/kipo_playground/add_classe_com_relacionamento/KIPCO__Agent/ontoscrum__is_executed_by/{{ instancia_daily }}">Adicionar Nova Instância de Agente Envolvido!s</a>
</div>


</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__performs/DO__Decision">Alocar Decisão existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__performs/Feature_Development">Alocar Desenvolvimento de Feature existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__performs/Sprint_Tasks_Updating">Alocar "Task Updating" existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__performs/Sprint_Tasks_Control">Alocar "Task Control" existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__performs/Impedments_Reporting">Alocar Reconhecimento de Impeditivo existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/INV_ontoscrum__during/scrum_Daily_Scrum_Meeting">Alocar Reunião existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__has_input/scrum_Artifact">Alocar Input existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__has_output/scrum_Artifact">Alocar Output existente</a>
</br>
</br>
<a class="btn btn-primary" href="/kipo_playground/adicionar_relacionamento_insts_antigas/{{ instancia_daily }}/ontoscrum__is_executed_by/KIPCO__Agent">Alocar Agente existente</a>


</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/sprints_select">Voltar</a>

</br>


{% endblock %}
