{% extends 'welcome.html' %} 

{% block content %}

</br>

<h2>{{ instancia_sprint }}</h2> 

</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/add_classe_com_relacionamento/DO__Risk/INV_threatens/{{ request.session.instancia_decision }}">Adicionar Dashboard para Sprint</a>

</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/add_classe_com_relacionamento/DO__Risk/INV_threatens/{{ request.session.instancia_decision }}">Adicionar Backlog para Sprint</a>

</br>
</br>

<a class="btn btn-primary" href="/kipo_playground/retirar_instancia/{{instancia_sprint}}/KIPCO__Knowledge_Intensive_Process">Deletar!</a>

</br>
</br>

{% endblock %}
